<ul>
  <li><strong>buy currency</strong><%= fx_rate.buy_currency %></li>
  <li><strong>sell currency</strong><%= fx_rate.sell_currency %></li>
  <li><strong>current buy rate</strong><%= fx_rate.current_buy_rate %></li>
  <li><strong>current sell rate</strong><%= fx_rate.current_sell_rate %></li>
  <li><strong>previous buy rate</strong><%= fx_rate.previous_buy_rate %></li>
  <li><strong>previous sell rate</strong><%= fx_rate.previous_sell_rate %></li>
</ul>
