<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="background-image: url(http://blog.mayfairhotels.com/wp-content/uploads/2016/02/Goa-Beach.jpg);background-repeat: no-repeat;">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Postcard Holidays</h3>
      <nav class="nav nav-masthead justify-content-center">
        <%= link_to "Home", root_path, class: [:'nav-link', :active] %>
        <%= link_to "About", page_path('about'), class: [:'nav-link'] %>
        <%= link_to "Value", page_path('value'), class: [:'nav-link'] %>
        <%= link_to "Demo", page_path('demo'), class: [:'nav-link'] %>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome to Postcard Holidays</h1>
    <p class="lead">If you have no idea of the holiday you want, just send us
    the last few images of your friends holiday and we will match it image by
    image so you too can be popular on The Gram.</p>
    <p class="lead">
      <%= link_to "let's get started", page_path('about'), class: [:btn, :'btn-lg', :'btn-secondary'] %>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p></p>
    </div>
  </footer>
</div>
