<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <nav class="nav nav-masthead justify-content-center">
        <%= link_to "Home", root_path, class: [:'nav-link'] %>
        <%= link_to "1", page_path('one'), class: [:'nav-link'] %>
        <%= link_to "2", page_path('two'), class: [:'nav-link', :active] %>
        <%= link_to "3", page_path('three'), class: [:'nav-link'] %>
        <%= link_to "Demo", image_search_index_path, class: [:'nav-link'] %>
        <%= link_to "Value", page_path('value'), class: [:'nav-link'] %>
        <%= link_to "Thanks", page_path('value'), class: [:'nav-link'] %>
        <%= link_to "End", page_path('value'), class: [:'nav-link'] %>
      </nav>
    </div>
  </header>


  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <img src="https://cdn-images-1.medium.com/max/2000/1*D0RuJauQWhM254p1cIP9dQ.jpeg">
    </div>
    <div class="col-md-4">
      <img src="http://www.3af.org/wp-content/uploads/nggallery/3AF-Asian-Market-Immersion-Tour/7364.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <img src="https://athomebreath.files.wordpress.com/2016/02/img_2453.jpg?w=1460">
    </div>
    <div class="col-md-4">
      <img src="http://cdn.newsapi.com.au/image/v1/229db7d746b46dffa9cd21ac5b99576c">
    </div>
  </div>


  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p></p>
    </div>
  </footer>
</div>
