
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead">
    <div class="inner">
      <nav class="nav nav-masthead justify-content-center">
        <%= link_to "Home", root_path, class: [:'nav-link'] %>
        <%= link_to "1", page_path('one'), class: [:'nav-link'] %>
        <%= link_to "2", page_path('two'), class: [:'nav-link'] %>
        <%= link_to "3", page_path('three'), class: [:'nav-link'] %>
        <%= link_to "Demo", image_search_index_path, class: [:'nav-link', :active] %>
        <%= link_to "Value", page_path('value'), class: [:'nav-link'] %>
        <%= link_to "Thanks", page_path('value'), class: [:'nav-link'] %>
        <%= link_to "End", page_path('value'), class: [:'nav-link'] %>
      </nav>
    </div>
  </header>

  <div class="container" style="margin-top: 30px;">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-3 social-nets" style="border: 1px solid #000;height: 700px;padding: 40px;">
          <h5 class="text-center">My WeChat Moments</h5>

          <img src="http://cdn.newsapi.com.au/image/v1/7d04acbea696f9120ce275186bdbddd0?width=1024" height="120px" width="250px">
          <p style="font-size:12px;">I held a Koala when I was on holiday!!</p>

          <img src="https://dao27ppzr58tl.cloudfront.net/wp-content/uploads/2012/07/bridgeclimb_mandarinclimb3.5-800x600.jpg" height="120px" width="250px">
          <p style="font-size:12px;">My Amazing holiday photos</p>

          <img src="https://www.fairfaxstatic.com.au/content/dam/images/g/w/1/k/j/f/image.related.articleLeadwide.620x349.gw3ca0.png/1494582034145.jpg" height="120px" width="250px">
          <p style="font-size:12px;">I had soo much fun in Australia last week!!! xxx</p>

          <img src="https://cdn1.i-scmp.com/sites/default/files/images/methode/2017/08/05/d9a37226-785b-11e7-84d9-df29f06febc3_image_hires_190408.JPG" height="120px" width="250px">
        </div>

      <div class="col-md-6 offset-md-2" style="border: 1px solid #000;height: 700px;padding: 40px;">
        <h2 class="text-center">Find my Postcard Holiday</h2>

        <div class="col-md-12">
          <form accept-charset="UTF-8" action="<%= image_search_index_path %>" method="post">
            <div class="row">
              <input name="utf8" type="hidden" value="&#x2713;"/>
              <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts="/>
              <%= text_area_tag(:image_urls, "", size: "24x6", placeholder: 'Drag and drop your photos') %>
            </div>

            <br>

            <div class="row">
              <div class="btn-group" style="display: block;width: 100%;">
                <%= submit_tag "Find me a holiday", class: 'btn btn-large btn-primary btn-block' %>
              </div>
            </div>
          </form>

        </div>
      </div>

      </div>
    </div>
  </div>
</div>
