<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead">
    <div class="inner">
      <nav class="nav nav-masthead justify-content-center">
        <%= link_to "Home", root_path, class: [:'nav-link'] %>
        <%= link_to "1", page_path('one'), class: [:'nav-link'] %>
        <%= link_to "2", page_path('two'), class: [:'nav-link'] %>
        <%= link_to "3", page_path('three'), class: [:'nav-link'] %>
        <%= link_to "Demo", image_search_index_path, class: [:'nav-link', :active] %>
        <%= link_to "Value", page_path('value'), class: [:'nav-link'] %>
      </nav>
    </div>
  </header>

  <div class="container" style="margin-top: 30px;">
    <div class="container-fluid">
      <div class="col-md-6 offset-md-3" style="border: 1px solid #000;height: 700px;padding: 40px;">

        <h2 class="text-center">Confirmed</h2>
        <p class="text-center" style="font-size:12px">Your Holiday plans are all set for Australia in 2018</p>

        <div class="col-md-12">
          <div class="row" style="position: relative;height: 140px;text-align: center;color: white;background-color: #000000;">
            <img src="http://www.surfresearch.com.au/rPC1995_Kangaroo.jpg" style="width:100%; opacity: 0.8;">
            <div class="centered" style="position: absolute;top: 60%;left: 50%;transform: translate(-50%, -50%);">
              <h4>Surfing Experience</h4>
              <p>123 Fake St Cairns <i class="fa fa fa-map-marker"></i></p>
            </div>
          </div>

          <br>

          <div class="row" style="position: relative;height: 140px;text-align: center;color: white;background-color: #000000;">
            <img src="http://1.bp.blogspot.com/-ymbc1C_H3w8/TwQgMGh62LI/AAAAAAAAACQ/iwv4IHRDVq4/s1600/xmas-surfer.jpg" style="width:100%; opacity: 0.8;">
            <div class="centered" style="position: absolute;top: 60%;left: 50%;transform: translate(-50%, -50%);">
              <h4>Another Experience</h4>
              <p>123 Fake Ave Melbourne <i class="fa fa fa-map-marker"></i></p>
            </div>
          </div>

          <br>

          <div class="row" style="position: relative;height: 140px;text-align: center;color: white;background-color: #000000;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5cP6y1qdq3ynHhweJw9a7FVYxkAOJJ_rvWUHPg1yh6SXLgSrL" style="width:100%; opacity: 0.8;">
            <div class="centered" style="position: absolute;top: 60%;left: 50%;transform: translate(-50%, -50%);">
              <h4>Another Experience</h4>
              <p>123 Fake Ave Melbourne <i class="fa fa fa-map-marker"></i></p>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="btn-group" style="display: block;width: 100%;">
              <%= link_to "Manage my Booking", page_path('itenerary/2018-australia'), class: 'btn btn-large btn-primary btn-block' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
